@import "./some";
@import "../abstracts/variables";

.link-button {
  @extend .marg-top;
  width: 85%;
  background-color: $back-color-btn !important;
  border-radius: 8px !important;
}

.sky-button {
  color: white !important;
  background-color: $back-color-btn !important;
  border-radius: 8px !important;
}
