.custom-field {
  color: white !important;
  text-decoration-color: green !important;
  background-color: green !important;
  caret-color: white !important;
  text-emphasis-color: white !important;
}
